---
import {projects} from "../js/projects_data"; 
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import "../css/index.css"
import"../css/home.css"
---
<!DOCTYPE html>
<html lang="fr">
<Head>
</Head>
<body>
	<Header />
	<main>
        <div class="white-space"></div>
        <div class="hero-section">
				<h1>
					Bonjour, je suis <a href="./about.html">Kevin Lolaka </a> développeur front end basée à Paris.
					Parcourez mon portfolio pour explorer mes créations et projets uniques
				</h1>
        </div>
        <div class="white-space"></div>
        <div id="portfolio">
            <h2>portfolio</h2>
            <div class="portfolio-grid">
                {projects.map(p=> <Card p_number={p.p_number} title={p.title} year={p.year} role={p.role} presentation={p.shortPresentation}/>)}
            </div>
        </div>
    </main>
	<Footer/>
	<dialog class="modal"></dialog>
</body>
<script  src="../js/modal.js"></script>
</html>