---
const { p_number, title, year, role, presentation } = Astro.props;
import plus_solid from "/plus-solid.svg";
---

<div class="portfolio-grid-item" id={p_number}>
  <div class="g-header">
    <span>{p_number}</span>
    <span>{year}</span>
  </div>
  <div class="g-main">
    <h3>{title}</h3>
    <p>{role}</p>
    <div class="white-space-2"></div>
    <p>{presentation}</p>
  </div>
  <div class="g-footer">
    <div id="more"><img src={plus_solid} alt="plus-logo" /></div>
  </div>
</div>
